.split-pane-divider {
    -fx-padding: 0;
    -fx-opacity: 20%;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-background-color:  gray;
}

.button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 1;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: black;
    -fx-font-weight: 600;
    -fx-font-size: 12px;
    -fx-padding: 4 20 4 20;
}

.button:hover {
    -fx-background-color: rgba(160, 160, 160, 0.32);
}

.button:pressed {
    -fx-background-color: #f1faee;
}

.split-pane {

}

#statusField {
    -fx-font-weight: 500;
    -fx-font-family: "Open Sans";
}

.combo-box {
    -fx-border-width: 0.5px;
    -fx-border-color: #1d359c;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
    -fx-padding: 0px;
    -fx-font-weight: 700;
    -fx-font-family: "Open Sans";
}

.combo-box:hover {
    -fx-text-fill: white;
}

.combo-box .list-view {
    -fx-padding: 0px;
    -fx-font-weight: 700;
}

.combo-box .list-view .list-ce:filled {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}
