.split-pane-divider {
    -fx-padding: 0;
    -fx-opacity: 20%;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
}

.button {
    -fx-background-color:
            linear-gradient(#456b9d, #1d359c);
        -fx-background-radius: 30;
        -fx-background-insets: 0,1,2,3,0;
        -fx-text-fill: #a9a9a9;
        -fx-font-weight: bold;
        -fx-font-size: 14px;
        -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color: #a8dadc;
}

.button:pressed {
    -fx-background-color: #f1faee;
}

.split-pane {
    -fx-background-color: #a9a9a9;
}

#statusField {
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: #a9a9a9;
}

.anchor-pane {
    -fx-background-color: black;
}

.combo-box {
    -fx-border-width: 0.5px;
    -fx-border-color: #1d359c;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
    -fx-padding: 0px;
    -fx-font-weight: 700;
    -fx-font-family: "Open Sans";
}

.combo-box:hover {
    -fx-text-fill: white;
}

.combo-box .list-view {
    -fx-padding: 0px;
    -fx-font-weight: 700;
}

.combo-box .list-view .list-ce:filled {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}
