out/*
.idea/**/workspace.xml
.idea/**/cssdialects.xml
*.json
*.obj

.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

.idea/libraries/*

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_STORE
/build
/captures
.externalNativeBuild
.idea/modules.xml